    @font-face {
        font-family: 'Title-Font';
        src: url('../fonts/Anecor_Gheroos_TTF.ttf');
    }

    @font-face {
        font-family: 'Text-Font';
        src: url('../fonts/TheStudentsTeacher-Regular.ttf');
    }

    #header{
        font-family: 'Title-Font', sans-serif;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        width: 100%; 
        background-color: #9bd2b2; 
        padding: 10vh 0px; 
        gap: 30px;
    }

    #Var{
        font-size: 45px;
    }

    #ianKaplan{
        font-size: 52px;
        color: #f0f0f0;
    }

    #igual{
        font-size: 32px;
    }

    #student{
        font-size: 29px;
    }

    #logos{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
        padding-top: 50px;
        background-color: #f0f0f0;
    }

    .logo{
        width: 80px;
        height: 80px;
        object-fit: contain;
    }

    .intro-container{
        width: 100%;
        height: 55vh;
        background-color: #f0f0f0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    #profile-pic{
        width: 250px;
        height: 250px;
        border-radius: 0%;
        margin: 0;
    }

    #hello{
        font-family: 'Title-Font', sans-serif;
        font-size: 3rem;
        color: #9bd2b2;
        margin: 0;
    }

    #description{
        font-size: 20px;
        max-width: 450px;
        margin: 0;
    }

    body {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 400vh;
        justify-content: center;
        background-color: #f0f0f0;
        margin: 0;
    }
    .button {
        -webkit-tap-highlight-color: transparent;
        appearance: none;
        border-radius: 30px;
        border: 2px solid black;
        border: 0;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        color: black;
        cursor: pointer;
        font-size: 1.2em;
        margin-top: 20px;
        outline: none;
        overflow: hidden;
        padding: 1em 2em;
        position: relative;
        width: 250px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .button--white {
        color: white;
    }
    .pattern {
        background: #9bd2b2;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .bg4 {
        background-image: url('/img/background.png');
        background-size: cover;      /* Hace que la imagen cubra todo el contenedor */
        background-position: center; /* Centra la imagen */
        background-repeat: no-repeat;/* Evita que se repita */
        width: 100%;
        height: 100%;
    }
    .inner {
        height: 300px;
        width: 800px;
    }
    .text {
        font-family: 'Text-Font', sans-serif;
        font-weight: 900;
        color: #f0f0f0;
        font-size: 2rem;
        position: relative;
    }
    .target {
        transform: translate(var(--x), var(--y));
    }
    .button:active .target {
        opacity: 0.7;
        transition: opacity 100ms;
    }